
.shop-container{
display: grid;
grid-template-columns: 4fr 1fr;
}
.watchs-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 20px;
}
.cart{
    position: sticky;
    top: 0;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgb(88, 85, 85);
}
.choose-btn{
    display: block;
    border: 1px solid saddlebrown;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: red;
}
.choose-btn:hover{
    background-color: rgb(220, 213, 230);
}
.choose-again-btn{
    border: 1px solid blueviolet;
    padding: 8px;
    border-radius: 5px;
    color: rgb(61, 57, 57);
}
.choose-again-btn:hover{
    background-color: rgb(224, 207, 207);
}
@media screen and (max-width:500px) {
    .shop-container{
       display: flex;
       flex-direction: column-reverse;
       
    }
    
    .watchs-container{
        display: block;
        margin: 0 auto;
        padding-top: 40px;
    }
}