
.shop-container{
display: grid;
grid-template-columns: 4fr 1fr;
}
.watchs-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 20px;
}

@media screen and (max-width:500px) {
    .shop-container{
       display: flex;
       flex-direction: column-reverse;
       
    }
    
    .watchs-container{
        display: block;
        margin: 0 auto;
        padding-top: 40px;
    }
}