
.product{
    height: 500px;
    width: 310px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: whitesmoke;
}
.product img{
   height: 300px;
   width: 300px;
   margin-top: 5px;
   border-radius: 5px;
}
.product-info p{
    margin-bottom: 0px;
    margin-top: 5px;
}